apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-svc
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Values.appName }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
